header{
    background-color:rgb(52, 52, 52);
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Times New Roman';
    font-size:15px;
    border:solid 1px rgb(52, 52, 52);
}
#main-bio{
    margin-left:10px;
}
.container{
    color:rgb(52, 52, 52);
    background-color:rgb(236, 235, 222);
    margin-top:0px;
    padding-bottom:210px;
    border:solid 1px rgb(236, 235, 222);
}
#bio-image{
    padding-right:10px;
    float:left;
}
a {
    color:red;
}
#contact-info{
    display: inline-block;
    padding-right:4mm;
    padding-left:4mm;
    position:absolute;
    top:85px;
    right:100px;
}
#center{
    position:absolute;
    top:140px;
    left:240px;
}
